[submodule "browsertestjs"]
	path = test/browsertestjs
	url = git@github.com:Cyphrme/BrowserTestJS.git
[submodule "verifier/browsertest"]
	path = verifier/browsertest
	url = git@github.com:Cyphrme/BrowserTestJS.git
