"use strict";

import * as MAP from '/my_awesome_project/file_3.js';

export {
	TestBrowserJS
};

/**
 * @typedef {import('./test.js').Test} Test
 * @typedef {import('./test.js').TestsToRun} TestsToRun
 * @typedef {import('./test.js').TestGUIOptions} TestGUIOptions
 * @typedef {import('./test.js').TestBrowserJS} TestBrowserJS
 */

/**@type {Test} */
let t_Correct = {
	"name": "Correct",
	"func": test_thingIsCorrect,
	"golden": true
};

// Tests "file_3.js.IsThingCorrect()".
async function test_thingIsCorrect() {
	let thing = {"color":"blue","shape":"round"};
	if (MAP.IsThingCorrect(thing)) {
		return true;
	}
	return false;
};

/**
 * TestsToRun must be declared at the bottom of the file, as the variables
 * cannot be accessed before initialization.
 *
 * @type {TestsToRun}
 **/
let TestsToRun = [
t_Correct
];

/** @type {TestGUIOptions} **/
let TestGUIOptions = {
	footer: `<h1><a href="github.com/my_awesome_project">
	Link to the source code for My Awesome Project
	</a></h1>`,
	stylesheet: {
		href: "file_2.css"
	},
	main_image: "logo.png"

};

/** @type {TestBrowserJS} **/
let TestBrowserJS = {
	TestsToRun,
	TestGUIOptions
};