"use strict";

export {
	TestBrowserJS
};

/**
 * @typedef {import('./test.js').TestsToRun} TestsToRun
 * @typedef {import('./test.js').TestBrowserJS} TestBrowserJS
 */

/** @type {TestsToRun}**/
let TestsToRun = [];

/** @type {TestBrowserJS} **/
let TestBrowserJS = {
	TestsToRun,
};